<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <i class="fas fa-beer"></i>
    <%= link_to "Share Your Recipe", new_cocktail_path %>
  </div>
</nav>

<h1>Rhum Cocktails</h1>
<div class="container text-center">
  <% @cocktails.each do |cocktail| %>
    <div class="card-trip">
      <%= cl_image_tag cocktail.photo.key, heigth: 100, width: 300, crop: :fill%>
      <div class="card-trip-infos">
        <div>
          <%= link_to cocktail.name, cocktail_path(cocktail)%>
        </div>
      </div>
    </div>
  <% end %>
</div>

