<div class="banner" style="background-image: url(https://www.galerie-creation.com/tableau-peinture-martinique-mer-cocotiers-barques-paysages-peinture-,a-lhuile-plage-de-martinique-pj-570_xz_462_xz_images/upload/809/f4eb4651cade30e14f350180be943076img2284.jpg) ;">
  <div class="container">
    <h1> THE PIRAT'S <strong>TAVERN</strong>!</h1>
    <h3>Discover cocktails of real pirates</h3>
    <%= link_to cocktails_path do %>
      <i class="far fa-gem"></i>
    <% end %>
  </div>
</div>
