<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1> WELCOME TO COCKTAILS <strong>OPEN SOURCE</strong>!</h1>
    <h3>Become the king of the bar </h3>
    <p>Become a cocktail pro thanks to the recipes shared by the greatest professionals in the field.</p>
    <%= link_to 'access recipes', cocktails_path %>
  </div>
</div>
